<meta name="description" content="Look at what's trending right now, here at GoneVirul.com">
<div>
  <% @blogs.each do |blog| %>
    <div id="content" class="hfeed homepage">
      <article class="article">
        <div class="post-single post_box">
          <header>
            <div class="headline_area">
              <h2 class="entry-title">
                <%= link_to blog.title.html_safe, blog, title: blog.title, rel: "bookmark" %>
              </h2>
              <div class="headline_meta">
                <!--<p class="theauthor">By <a rel="nofollow" href="http://www.gonevirul.com/author/admin/" title="Posts by admin" rel="author">admin</a></p>-->
                <p class="themeta"><span class="calendar"><%= blog.created_at.strftime("%B %d, %Y") %></span></p>
              </div>
            </div><!--.headline_area-->
          </header>
          <a href="<%= blog_path(blog) %>" title="<%= blog.title %>" rel="nofollow"><div class="featured-thumbnail"><% if blog.photos.present? %><img width="590" height="200" src="<%= blog.photos.first.landing_picture.url(:landing).split("?")[0] %>" class="attachment-featured wp-post-image" title=""><% end %></div></a>
          <div class="format_text entry-content">
            <%= smart_truncate blog.description, :sentences => 2  %>          
            <p><a href="<%= blog_path(blog)%>" class="readmore">Read More...</a></p>
          </div>
          <% if admin_signed_in? %>
            <% if current_admin.id == 1 %>
              <%= link_to 'Edit', edit_blog_path(blog) %>
              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
        </div>
      </article>
    </div>
  <% end %><br><br>
  <%= will_paginate %>
</div>