<% if admin_signed_in? %>
  <% if current_admin.id == 1 %>
    <%= link_to 'New Blog', new_blog_path %>
  <% end %>
<% end %>
<br />

  <div id="header_area">
    <div class="page">
      <header id="header">
        <h1 id="logo">
          <a href="<%= root_path %>"><img src="http://cdn.gonevirul.com/wp-content/uploads/2013/05/gonevirul1.png" alt="Gone Virul"></a>
        </h1>
      </header>
    </div>
  </div>
  <div id="content_area">
<script src="http://cdn.gonevirul.com/waypoints.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#content_area').waypoint(function (direction) {
            $('#article-finished').toggleClass('hiding', direction === "up");
        }, {
            offset: function () {
                return $.waypoints('viewportHeight') - $(this).height() + 750;
            }
        });
    });
</script>
    <div class="page">
      <div id="content_box">  
        <% @blogs.each do |blog| %>
        <div id="content" class="hfeed homepage">
        <article class="article">
        <div class="post-single post_box">
          <header>
            <div class="headline_area">
              <h2 class="entry-title">
                <%= link_to blog.title, blog, title: blog.title, rel: "bookmark" %>
              </h2>
              <div class="headline_meta">
                <!--<p class="theauthor">By <a rel="nofollow" href="http://www.gonevirul.com/author/admin/" title="Posts by admin" rel="author">admin</a></p>-->
                <p class="themeta"><span class="thetime"><%= blog.created_at.strftime("%B %d, %Y") %></span><span class="thecategories"><a href="http://www.gonevirul.com/category/stories/" title="View all posts in Stories" rel="nofollow">Stories</a></span></p>
              </div>
                          </div><!--.headline_area-->
          </header>
          <a href="<%= blog_path(blog) %>" title="<%= blog.title %>" rel="nofollow"><div class="featured-thumbnail"><img width="590" height="200" src="" class="attachment-featured wp-post-image" title=""></div></a>
          <div class="format_text entry-content">
            <%= truncate blog.description, length: 300 %>          
            <p><a href="<%= blog_path(blog)%>" class="readmore">Read More...</a></p>
          </div>
          <% if admin_signed_in? %>
            <% if current_admin.id == 1 %>
              <%= link_to 'Edit', edit_blog_path(blog) %>
              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
        </div><!--.post-single-->
      </article>
      <div class="pagination"><ul><li class="current"><span class="currenttext">1</span></li><li><a rel="nofollow" href="http://www.gonevirul.com/page/2/" class="inactive">2</a></li><li><a rel="nofollow" href="http://www.gonevirul.com/page/3/" class="inactive">3</a></li><li><a rel="nofollow" href="http://www.gonevirul.com/page/4/" class="inactive">4</a></li><li><a rel="nofollow" href="http://www.gonevirul.com/page/2/" class="inactive">Next ›</a></li><a rel="nofollow" class="inactive" href="http://www.gonevirul.com/page/113/">Last »</a></ul></div>        
      <div class="top"><a href="#top">Back to Top ↑</a></div>
    </div><!--#content-->
  <% end %>
  <aside class="sidebar">
  <div id="sidebars">
    <div class="sidebar">
      <ul class="sidebar_list">
        <li id="widget_recent_entries" class="widget widget-sidebar"><h3>Latest Stories</h3>
          <ul class="advanced-recent-posts">
            <% @blogs.each do |blog| %>
              <li><a href="<%= blog_path(blog) %>" title="<%= blog.title %>"><img src="http://cdn.gonevirul.com/wp-content/uploads/2014/01/Screen-Shot-2014-01-19-at-8.58.42-PM-300x157.png" class="wp-post-image"></a><%= link_to blog.title, blog, title: blog.title %></li>
            <% end %>
          </ul>
        </li>
        <li id="facebook_like" class="widget widget-sidebar"><h3>Hey, Join Us On Facebook!</h3></li>
      </ul>
    </div>
  </div><!--sidebars-->
</aside>
<div class="hiding" id="article-finished">
        <div style="float:left; width:290px;">We post stuff just like this every day on Facebook. Like us. You won't regret it.</div>
        <br>
        <div class="no-show"><a href="#">Close: I already like gonevirul</a></div>
    </div></div></div><div style="float: center;margin-top:15px;"><center><a href="http://www.gonevirul.com/contact/">Contact</a> - <a href="http://www.gonevirul.com/dmca-policy/">DMCA / Removal Request</a> - <a href="http://www.gonevirul.com/privacy-policy/">Privacy Policy</a> - <a href="http://www.gonevirul.com/submit-content/">Submit Content</a> - <a href="http://www.gonevirul.com/about-gonevirul/">About GoneVirul</a></center></div>



<script type="text/javascript">
$(document).ready(function(){
  $('#nav').localScroll(800);
  
  //.parallax(xPosition, speedFactor, outerHeight) options:
  //xPosition - Horizontal position of the element
  //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
  //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
  $('#intro').parallax("50%", 0.1);
  $('#second').parallax("50%", 0.1);
  $('.bg').parallax("50%", 0.4);
  $('#third').parallax("50%", 0.3);

})
</script></div>