<% provide(:title, @blog.title.html_safe) %>
<meta name="description" content="<%=smart_truncate @blog.description, :sentences => 1, :description => true %>"/>
<meta name="og:title" content="<%= @blog.title.html_safe%>"/>
<meta name="og:type" content="blog"/>
<meta name="og:description" content="<%=(smart_truncate @blog.description, :sentences => 1, :description => true).html_safe %>"/>
<% if @blog.photos.present? %><meta name="og:image" content="<%= @blog.photos.first.landing_picture.url(:landing) %>"/>
<% else %><meta name="og:image" content="/assets/GoneVirul.png"/><% end %>
<div id="content" class="hfeed">
  <div class="page-single post_box">
    <article>
      <div class="format_text entry-content">
        <div class="headline_area">
          <h2 class="entry-title"><%= @blog.title.html_safe %></h2>
          <div class="featured-thumbnail"><% if @blog.photos.present? %><img width="590" height="200" src="<%= @blog.photos.first.landing_picture.url(:landing) %>" class="attachment-featured wp-post-image" title=""><% end %></div>
          <div class="headline_meta">
            <p class="themeta"><%= image_tag "/assets/eye.png", style: "width: 3%;-webkit-filter: contrast(0);margin-right: 5px;margin-bottom: -5px;margin-left: 5px;" %><%= @blog.ip_address_count %><span class="calendar"><%= @blog.created_at.strftime("%B %d, %Y") %></span>
            </p>
          </div>
        </div>
        <p>
          <%= @blog.description.html_safe %><br><br>
          <div class="fb-comments" data-href="www.gonevirul.com<%= request.fullpath %>" data-numposts="5" data-colorscheme="light"></div><br>
          <span id="like-p"> Be sure to spread the awesomeness!</span><br><br>
          <a href="https://www.facebook.com/sharer/sharer.php?u=www.gonevirul.com<%= request.fullpath %>"><img alt='Shareonfacebook' id='fb-share-button' src='/assets/shareonfacebook.jpg' style='margin-bottom:-16px'></a>
          <div style="margin-left:100px;margin-bottom:20px" id="my-fb-liker" class="fb-like" data-href="http://facebook.com/gonevirul" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          <br><br><br>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- GoneVirul-Bottom-Description -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:250px;margin-left: 28%"
               data-ad-client="ca-pub-8318252795689818"
               data-ad-slot="5131793888"></ins><br>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <% if admin_signed_in? %>
            <% if current_admin.id == 1 %>
              <%= link_to 'Edit', edit_blog_path(@blog) %> |
              <%= link_to 'Back', blogs_path %>
            <% end %>
          <% end %>
        </p>
      </div>
    </article>
  </div>
</div>
<% if @blog.ip_address.present? %>
  <% if !@blog.ip_address.include? request.remote_ip %>
    <% @blog.ip_address = "#{@blog.ip_address}" + ", " + "#{request.remote_ip.to_s}" %>
    <% @blog.ip_address_count += 1 %>
    <% @blog.save %>
  <% end %>
<% else %>
  <% @blog.update_attributes(ip_address: request.remote_ip.to_s, ip_address_count: 1) %>
<% end %>








