<!DOCTYPE html>
<html>
<head>
  <title>GoneVirul</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <head>
  <meta charset="UTF-8">
  <title>GoneVirul - Get your fix with what's treading red hot on the Web</title>

  <!--iOS/android/handheld specific --> 
<meta name="viewport" content="max-width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
      <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css">

<link href="http://fonts.googleapis.com/css?family=Droid Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">

<style type="text/css">
body {background-color:#F0F2F3;}
body {background-image:url(/assets/backimaged.png);}

.post-info a, .single_post a, a:hover, .textwidget a, #commentform a, .copyrights a:hover, a, #tabber .inside li .meta, .sliderDate, footer .sidebar a:hover, #footer a:hover, .related-posts h3, .related-posts a:hover, .postauthor h4, .total-comments, .related-posts ul li p:hover, #respond h3, h1, h2, h3, h4, h5, h6, #copyright-note a:hover, a, .entry-title a:hover, .headline_meta a:hover {color:#E03F00; }
#tabber ul.tabs li a.selected, #tabber ul.tabs li.tab-recent-posts a.selected, .tagcloud a:hover, .tags a:hover, #footer .tagcloud a:hover, .readMore, .featured-thumbnail .commentBoxe, .sliderCaptionTop .sliderCat, .currenttext, .pagination a:hover, #commentform input#submit, #cancel-comment-reply-link, .mts-subscribe input[type="submit"], .menu a:hover, .current-menu-item a {background-color:#E03F00;}
.tagcloud a, .tags a, #footer .tagcloud a, .copyrights {border-color: #E03F00;}
#tabber .inside {border-top-color: #E03F00;}
#content { float: left; border-left: 0; border-right: 1px solid #E8E8E8; }
</style>
<!--Theme by MyThemeShop.com-->
<!-- All in One SEO Pack 2.1 by Michael Torbert of Semper Fi Web Design[247,264] -->
<meta name="description" content="Get your fix with what's treading red hot on the Web.">
<meta name="keywords" content="xander the pug,blind service dog,blind pug,xander blind pug,klamath blind pug,abandoned building,crazy abandoned building,abandoned building pool,strange building,heather hansen,charcoal art heather hansen,cool charcoal art,phytoplankton,glowing plankton,glowing phytoplankton,maldives blue waves,trappedatmydesk twitter,twitter user brain cancer,brain cancer tweets,dying of brain cancer,good news bus,converted school bus,refurbished school bus,bus turned into rv,libya,sahara desert,volcano,ash,oasis,fresh water,salt lakes,waw an namus,prora,nazi germany,third reich,hitler,holiday camp,hotel resort,nazi beach resort,embryos,animals in the womb,ultrasound scans,unborn,animals,cgi,fetus,in utero,frost flowers,ice flowers,frozen plants,finland ice flowers">
<!-- /all in one seo pack -->
</head>
<body>
  <% if admin_signed_in? %>
    <% if current_admin.id == 1 %>
      <%= link_to 'New Blog', new_blog_path %>
      <%= link_to 'New Photo', new_photo_path %>
    <% end %>
  <% end %>
  <br />

  <div id="header_area">
    <div class="page">
      <header id="header">
        <h1 id="logo">
          <a href="<%= root_path %>"><img src="/" alt="Gone Virul"></a>
        </h1>
        <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- GoneVirul -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-8318252795689818"
               data-ad-slot="2568607080"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        <div>
      </header>
    </div>
  </div>
<div id="content_area" style="min-height:2500px;">
  <div class="page" style="min-height:2500px;">
    <div id="content_box" style="min-height:2500px;">  
      <%= yield %>
      <aside class="sidebar">
        <div id="sidebars">
          <div class="sidebar">
            <ul class="sidebar_list" style="position: absolute;top: 137px;left: 879px;right: 225px;clear: both">
              <li class="widget"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- GoneVirul_Vertical -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-8318252795689818"
                     data-ad-slot="5602798685"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </li>
              <li id="widget_recent_entries" class="widget widget-sidebar" style="padding: 10px;"><h3>Latest Stories</h3>
                <ul class="advanced-recent-posts">
                  <% @blogssidebar.each do |blog| %>
                    <li><a href="<%= blog_path(blog) %>" title="<%= blog.title %>"><% if blog.photos.present? %><img src="<%= blog.photos.first.landing_picture.url(:side_bar) %>" class="wp-post-image"><% end %></a><%= link_to blog.title, blog, title: blog.title %></li>
                  <% end %>
                </ul>
              </li>
              <li id="facebook_like" class="widget widget-sidebar"><h3>Hey, Join Us On Facebook!</h3></li>
            </ul>
          </div>
        </div><!--sidebars-->
      </aside>
      
      <div class="hiding" id="article-finished">
        <div style="width:290px;">We post stuff just like this every day on Facebook. Like us. You won't regret it.</div>
        <br>
        <div class="no-show"><a href="#">Close: I already like GoneVirul</a></div>
      </div>
    </div>
    <div class="top"><a href="#top">Back to Top ↑</a></div>
  </div>
</div>
<div style="margin-top:15px;">
  <center><%= link_to "Contact", contact_path %> - <%= link_to "DMCA / Removal Request", dmca_path %> - <%= link_to "Privacy Policy", privacy_path %> - <%= link_to "Submit Content", submit_path %> - <%= link_to "About GoneVirul", about_path %></center>
</div>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#content_area').waypoint(function (direction) {
              $('#article-finished').toggleClass('hiding', direction === "up");
          }, {
              offset: function () {
                  return $.waypoints('viewportHeight') - $(this).height() + 350;
              }
          });
      });
  </script>
</body>
</html>
